@use '../abstracts' as *;

/* purgecss start ignore */

.card {
  background-color: $background-light;
  padding: 2.5rem clamp(1rem, -0.875rem + 6vw, 2.5rem);
}

.card-oceneni {
  .card-oceneni-logo-wrapper {
    padding: 1.5rem;

    img {
      width: 100%;
      max-width: 10rem;
    }
  }
  .card-oceneni-footer {
    background-color: $background-light;
    padding: 1rem;
    border-radius: $border-radius-md;
  }
}

.card-team {
  .card-team-photo {
    margin-bottom: 1.5rem;

    img {
      width: 100%;
      aspect-ratio: 3 / 4;
      object-fit: cover;
    }
  }

  .card-team-footer {
    .h4 {
      margin-bottom: 0.25rem;
    }

    p:is(:nth-child(2)) {
      margin-bottom: 0.25rem;
      color: $accent;
    }

    p:is(:nth-child(3)) {
      margin-bottom: 1rem;
    }
  }
}

.card-portfolio {
  text-decoration: none;

  .card-portfolio-head {
    img {
      display: block;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      width: 100%;
    }
  }
  .card-portfolio-footer {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: $background-light;
    transition: all 200ms ease-in-out;
    height: 100%;

    img {
      height: 1.5rem;
      object-fit: contain;
    }

    &:has(img) {
      padding: 0.75rem 1rem;
    }
  }

  &:is(:hover, :focus) {
    text-decoration: none;
    .card-portfolio-footer {
      background-color: $background-light-hover;
    }
  }
}

.card-napsali-o-nas {
  text-decoration: none;
  color: $primary;
  background-color: $white;
  padding: 1.5rem 1.5rem;
  border-radius: $border-radius-lg;

  .media-logo {
    height: 2.5rem;
    object-fit: contain;
    margin-top: auto;
  }
}

.card-nabidka {
  text-decoration: none;

  .card-nabidka-head {
    img,
    video {
      display: block;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      width: 100%;
    }
  }

  .card-nabidka-footer {
    padding-inline: clamp(1rem, 0.375rem + 2vw, 1.5rem);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: $background-light;
    transition: all 200ms ease-in-out;
    height: 100%;

    > *:is(:not(:last-child)) {
      margin-bottom: 1.5rem;
    }

    .h3 {
      margin-bottom: 0.5rem;
    }

    .button {
      margin-top: auto;
    }

    ul {
      width: 100%;
    }
  }
}

.card-featured-work {
  display: flex;
  flex-direction: row;
  background-color: $background-light;

  .card-featured-work-thumb {
    flex-grow: 4;
    flex-basis: 15rem;

    img {
      width: 100%;
    }
  }

  .card-featured-content {
    flex-basis: 20rem;
    flex-grow: 1;
    padding: clamp(1.5rem, 0.6667rem + 2.6667vw, 2.5rem);

    img {
      max-height: 4rem;
      height: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      object-fit: contain;
    }
  }

  @media (max-width: $medium-large) {
    flex-direction: column;

    .card-featured-content {
      flex-basis: 0rem;
    }

    .card-featured-work-thumb {
      flex-basis: 0rem;
    }
  }
}

.card-pripadova-studie {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: $background-light;

  .card-pripadova-studie-thumb {
    img {
      width: 100%;
    }
  }

  .card-pripadova-studie-content {
    flex-basis: 20rem;
    flex-grow: 1;
    padding: clamp(1.5rem, 0.6667rem + 2.6667vw, 2.5rem);

    img {
      max-height: 3rem;
      margin-bottom: 1rem;
      object-fit: contain;
    }
  }

  @media (max-width: $medium-large) {
    grid-template-columns: 1fr;
  }
}

.card-prace-v-cislech {
  border-radius: $border-radius-lg;
  text-align: center;
}
/* purgecss end ignore */
