@use '../abstracts/' as *;

/* purgecss start ignore */

footer,
.footer {
  padding: 5rem 0 2.5rem 0;
  border-top: solid 1px $stroke;

  .divider-line {
    height: 1px;
    width: 100%;
    background-color: #ffffff50;
  }
}

.footer-cols {
  column-gap: 2.5rem;
  row-gap: 3.5rem;

  > * {
    flex-grow: 1;
    flex-basis: 320px;

    @media (max-width: 479px) {
      flex-basis: 100%;
    }
  }
}

/* purgecss end ignore */
