@use '../abstracts/' as *;

.grid-even-col {
  --grid-min-width: 360px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-width), 100%), 1fr));
  row-gap: 1rem;
  column-gap: 1rem;

  &.even-gap-4 {
    row-gap: 1rem;
    column-gap: 1rem;
  }

  &.even-gap-6 {
    row-gap: 1.5rem;
    column-gap: 1.5rem;

    @media (max-width: $medium-small) {
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }

  &.col-2 {
    --grid-min-width: 600px;
  }

  &.col-2-homepage {
    --grid-min-width: 400px;
    row-gap: 1.5rem;
    column-gap: 5rem;
  }

  &.col-2-form {
    --grid-min-width: 450px;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
  }

  &.col-3 {
    --grid-min-width: 420px;

    &.footer-cols {
      row-gap: 3rem;
    }
  }

  &.col-4 {
    --grid-min-width: 260px;
  }

  &.col-5 {
    --grid-min-width: 200px;
  }
}

.grid-offer-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
  gap: 1.5rem;

  > :last-child {
    grid-column: 2;

    @media (max-width: 1000px) {
      grid-column: auto;
    }
  }
}
