@use '../abstracts' as *;

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  --cc-btn-primary-bg: #40e0d0;
  --cc-btn-primary-hover-bg: #19d3c1;
  --cc-btn-secondary-text: black;
  --cc-btn-primary-text: black;
}
