// For use in the code base
$primary: #1f1528;
$accent: #40e0d0;
$text-body: #d0d0d0;
$gray: #79737d;
$stroke: #432f55;
$stroke-dark: #24364e;
$background: #1f1528;
$background-light: #2d2039;
$background-light-hover: #402e52;
$white: #ffffff;
$black: #000000;

// For creating utility classes
$colors: (
  primary: #1f1528,
  accent: #40e0d0,
  text-body: #d0d0d0,
  gray: #79737d,
  stroke: #432f55,
  stroke-dark: #24364e,
  background: #1f1528,
  background-light: #2d2039,
  background-light-hover: #402e52,
  white: #ffffff,
  black: #000000
);
