<div class="card-nabidka flex flex-col">
  <div class="card-nabidka-head flex fa-center fj-center">
    <video autoplay loop muted playsinline>
      <source src="./videos/nabidka/personalizovana-reklama.webm" type="video/webm" />
      <source src="./videos/nabidka/personalizovana-reklama.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="card-nabidka-footer flex flex-col fa-center">
    <h2 class="h3">Personalizovaný spot</h2>
    <p class="fc--white fw-600">Zařídíme, aby byla každá reklama na míru každému zákazníkovi</p>
    <ul>
      <li>Váš zákazník se stane hvězdou!</li>
      <li>Spot šitý na míru každému jednotlivci zvlášť</li>
      <li>Scénář vzniká na základě Vašich zákaznických dat</li>
      <li>Integrace přehrávače s personalizovaným videem na Vašem webu, aplikaci či emailové platformě</li>
      <li>Ideální zaměření cílovky pomocí personalizace</li>
      <li>Dynamická změna jakýchkoliv údajů ve videu</li>
    </ul>
    <a href="./kontakt.html" class="button">Nezávazně poptat</a>
    <a href="./personalizovana-reklama.html">Více informací</a>
  </div>
</div>
