<div class="card-nabidka flex flex-col">
  <div class="card-nabidka-head flex fa-center fj-center">
    <video autoplay="" loop="" muted="" playsinline="">
      <source src="./videos/nabidka/hrana-reklama.mp4" type="video/mp4" />
      <source src="./videos/nabidka/hrana-reklama.webm" type="video/webm" />
    </video>
  </div>
  <div class="card-nabidka-footer flex flex-col fa-center">
    <h2 class="h3">Hraná reklama</h2>
    <p class="fc--white fw-600">Zajistíme kompletní produkci hrané reklamy na klíč včetně scénáře</p>
    <ul>
      <li>Vytvoření kreativních scénářů na základě briefu klienta</li>
      <li>Produkce libovolného formátu pro online či do TV</li>
      <li>Bohaté možnosti v postprodukci - zvládneme 2D/3D grafiku i vizuální efekty</li>
      <li>Více verzí reklamy (různé stopáže reklamy, formáty na výšku atd.) pro sociální sítě</li>
    </ul>
    <a href="./kontakt.html" class="button">Nezávazně poptat</a>
    <a href="./hrana-reklama.html">Prohlédnout ukázky</a>
  </div>
</div>
