<div class="card-nabidka flex flex-col">
  <div class="card-nabidka-head flex fa-center fj-center">
    <video autoplay loop muted playsinline>
      <!-- <source src="./videos/nabidka/magic-reels.webm" type="video/webm" /> -->
      <source src="./videos/nabidka/magic-reels.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="card-nabidka-footer flex flex-col fa-center">
    <h2 class="h3">Magic reels</h2>
    <p class="fc--white fw-600">
      Dynamika, efektivita, sériovost, zájem…to je několik hlavních surovin pro recept na opravdu kvalitní obsah
      sociálních sítí!
    </p>
    <ul>
      <li>Kouzelnický trik ideální na sociální sítě</li>
      <li>Trendy, aktuální</li>
      <li>Výhodné balíčky spotů</li>
      <li>Ceník velmi variabilní</li>
      <li>Dynamika, efektivita, informace</li>
      <li>Vizuální atraktivita</li>
      <li>Lovebrand</li>
    </ul>
    <a href="./kontakt.html" class="button">Nezávazně poptat</a>
    <a href="./magic-reels.html">Více informací</a>
  </div>
</div>
