<div class="card-nabidka flex flex-col">
  <div class="card-nabidka-head flex fa-center fj-center">
    <video autoplay="" loop="" muted="" playsinline="">
      <source src="./videos/nabidka/personalizovana-reklama.mp4" type="video/mp4" />
      <source src="./videos/nabidka/personalizovana-reklama.webm" type="video/webm" />
    </video>
  </div>
  <div class="card-nabidka-footer flex flex-col fa-center">
    <h2 class="h3">Personalizovaná reklama</h2>
    <p class="fc--white fw-600">Zařídíme, aby byla každá reklama na míru každému zákazníkovi</p>
    <ul>
      <li>Navrhneme scénář personalizovaného videa na základě vašich zákaznických dat</li>
      <li>Naintegrujeme přehrávač s personalizovaným videem na váš web, aplikaci či emailovou platformu</li>
      <li>Pomocí personalizace efektivně zacílíme na každou vaši cílovou skupinu</li>
      <li>V čase můžeme dynamicky měnit jakékoliv údaje ve videu</li>
    </ul>
    <a href="./kontakt.html" class="button">Nezávazně poptat</a>
    <a href="./personalizovana-reklama.html">Prohlédnout ukázky</a>
  </div>
</div>
