<!---- CTA ---->
<section class="padding-both">
  <div class="container">
    <div class="flex flex-col fa-start gap-4">
      <p class="h1">Ozvěte se nám</p>
      <p>Najděte cestu k zákazníkům. Za pomoci správných kouzel to jde snáze.</p>
      <div class="flex flex-row gap-x-8 gap-y-2 flex-wrap">
        <p>T: +420 702 176 633</p>
        <a href="mailto:info@filmagix.cz">info@filmagix.cz</a>
      </div>
      <a href="./kontakt.html" alt="Chci nezávazně poptat video / reklamu" class="button">Nezávazně poptat</a>
    </div>
  </div>
</section>
