<!--- Preconnect--->
<link rel="preload" href="./font/MartelSans-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="preload" href="./font/MartelSans-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<!-- Asynchronní JS (GA etc.) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111362462-3"></script>
<script async src="./js/ga.js"></script>
<!--- Facebook Pixel -->
<script async src="./js/facebook-pixel.js"></script>
<noscript>
  <img
    height="1"
    width="1"
    src="https://www.facebook.com/tr?id=360132208045465&ev=PageView
     &noscript=1" />
</noscript>
<!--- @Import CSS --->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!--- Local CSS --->
<base href="/dist/" />
<link rel="stylesheet" href="./css/cookieconsent.css?v=1.2" />
<link rel="stylesheet" href="./css/styles.css?v=1.2" />
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css" />
<!-- Cookie consent -->
<script defer src="./js/cookieconsent.js"></script>
<script defer src="./js/cookieconsent-init.js"></script>
<script defer src="./js/cookieconsent-social.js" type="text/plain" data-cookiecategory="social"></script>
