/* Custom CSS */
/* -------------------------------------------------------------------- */

/* purgecss start ignore */

body {
  background-color: $background;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $stroke;

  &.secondary {
    background-color: $primary;
  }
}

// Global

.page-header {
  p {
    max-width: $max-width-text;
  }
}

.article-header {
  margin-bottom: 2.5rem;
}

.text-limited-width {
  max-width: $max-width-text;
}

.visible-lines-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul:not(.nav-menu-list, .tabs-list) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0;
  padding: 0;
  list-style-position: outside;
  padding-left: 1.25rem;
  li {
    text-align: start;
    &::marker {
      color: $accent;
    }
  }
}

// Swipers

.swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;
    inset: 0;

    .swiper-pagination-bullet {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 1rem;
      background-color: $text-body;

      &.swiper-pagination-bullet-active {
        background-color: $accent;
      }
    }
  }
}

// Utility
.social-icon {
  transition: $transition;
  color: $accent;

  &:hover {
    color: $white;
  }
}

// Articles

.youtube-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 2.5rem;
}

.swiper .youtube-iframe {
  margin-bottom: 1rem;
}

.swiper-pagination {
  margin-bottom: 2.5rem;
}

.client-logo {
  height: max(4rem, 100%);
  max-width: 20rem;
  object-fit: contain;
  align-self: flex-start;
  margin-bottom: 2.5rem;
}

/* purgecss end ignore */
