/* Custom CSS */
/* -------------------------------------------------------------------- */

/* purgecss start ignore */

body {
  background-color: $background;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $stroke;

  &.secondary {
    background-color: $primary;
  }
}

.section-404 {
  min-height: 100dvh;
}

.section-hero {
  min-height: 80dvh;
  padding: clamp(2.5rem, 0.625rem + 6vw, 4rem) 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(31, 21, 40);
    background: -moz-linear-gradient(
      0deg,
      rgba(31, 21, 40, 0.7959558823529411) 0%,
      rgba(31, 21, 40, 0.30015756302521013) 50%,
      rgba(31, 21, 40, 0.04805672268907568) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(31, 21, 40, 0.7959558823529411) 0%,
      rgba(31, 21, 40, 0.30015756302521013) 50%,
      rgba(31, 21, 40, 0.04805672268907568) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(31, 21, 40, 0.7959558823529411) 0%,
      rgba(31, 21, 40, 0.30015756302521013) 50%,
      rgba(31, 21, 40, 0.04805672268907568) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1528",endColorstr="#1f1528",GradientType=1);
    z-index: -1;
  }
}

.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content-wrapper {
  row-gap: 1.5rem;
  column-gap: 2.5rem;

  > :first-child {
    flex-basis: 850px;
    flex-grow: 2;
  }
}

.hero-client-logo {
  max-height: 48px;
  object-fit: contain;
}

// Global

.page-header {
  flex-wrap: wrap;
  gap: 1.5rem;
  p {
    max-width: $max-width-text;
  }
}

.article-header {
  margin-bottom: 2.5rem;
}

.text-limited-width {
  max-width: $max-width-text;
}

.visible-lines-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul:not(.nav-menu-list, .tabs-list) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0;
  padding: 0;
  list-style-position: outside;
  padding-left: 1.25rem;
  li {
    text-align: start;
    &::marker {
      color: $accent;
    }
  }
}

// Swipers

.swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;
    inset: 0;

    .swiper-pagination-bullet {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 1rem;
      background-color: $text-body;

      &.swiper-pagination-bullet-active {
        background-color: $accent;
      }
    }
  }
}

// Utility
.social-icon {
  transition: $transition;
  color: $accent;

  &:hover {
    color: $white;
  }
}

.shrink-0 {
  flex-shrink: 0;
}

// Articles

.youtube-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 2.5rem;
}

.swiper .youtube-iframe {
  margin-bottom: 1rem;
}

.swiper-pagination {
  margin-bottom: 2.5rem;
}

.client-logo {
  height: max(4rem, 100%);
  max-width: 20rem;
  object-fit: contain;
  align-self: flex-start;
  margin-bottom: 2.5rem;
}

// Fondy EU

.fondy-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1.5rem;
  column-gap: 1.5rem;

  img {
    width: max-content;
    object-fit: contain;
    max-height: 80px;
  }
}

// Other

.our-story-total-views {
  @media (max-width: 400px) {
    flex-direction: column;
    gap: 0;
  }
}

/* purgecss end ignore */
